# Entornos virtuales
venv/
env/

# Variables de entorno y secretos
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (por si en algún momento usas SQLite)
db.sqlite3

# Cosas del sistema operativo
.DS_Store
Thumbs.db